<h1>マイページ</h1>

<%= form_with model: @customer, url: customers_information_path do |f| %>
    <div class="form-group">
      <div class="name">名前
        <label for="customer_name"></label>
        <%= f.text_field :name, autofocus: true, placeholder:"名前" %>
      </div>
    </div>

    <div class="form-group">
      <div class="email">メールアドレス
        <label for="email"></label>
        <%= f.text_field :email, autofocus: true, placeholder:"メールアドレス" %>
      </div>
    </div>

    <div class="form-group">
      <div class="introduction">コメント
        <label for="introduction"></label>
        <%= f.text_area :introduction, autofocus: true, placeholder:"コメント" %>
      </div>
    </div>

  <%= f.submit "編集内容を保存" , class: "btn btn-success ml-4" %>
  <%= link_to " 退会する", root_path ,class: "glyphicon glyphicon-tint btn btn-danger"%>
<% end %>